<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>
      Institute Of Education - UCC
    </title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <lin href="public/static/img/logo/logo.png" rel="icon" />
    <link href="public/static/img/logo/logo.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="public/static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet" />
    <link href="public/static/vendor/icofont/icofont.min.css"
      rel="stylesheet" />
    <link href="public/static/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet" />
    <link href="public/static/vendor/remixicon/remixicon.css"
      rel="stylesheet" />
    <link href="public/static/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet" />
    <link href="public/static/vendor/animate.css/animate.min.css"
      rel="stylesheet" />
    <link href="public/static/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="public/static/css/style.css" rel="stylesheet" />
    <script src="//code.tidio.co/ynudbvapq5wsjp4b4wn6f2yfranjctoo.js" async></script>
    <script data-ad-client="ca-pub-9691884612651805" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!--                                                    =======================================================
  * Template Name: Mentor - v2.1.0
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ========================================================                                                    -->
  </head>
  <body class="{{ bgColor }}">
    {% block content %}

    {% endblock %}
    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 footer-contact">
              <h3>
                University of Cape Coast
              </h3>
              <p> College of Education Studies<br> 
                School of Educational Development and Outreach<br>
                Institute of Education <br>
                
               
                 Cape Coast<br /> Ghana <br /><br />
                
                {# <strong>Phone:</strong> +1 5589 55488 55<br /> #}
                <strong>Email:</strong> ioe.outreach@ucc.edu.gh<br />
                 <strong>Email:</strong> ioe@ucc.edu.gh<br />
              </p>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
              <h4>
                Useful Links
              </h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://www.ucc.edu.gh/">Graduate</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://www.ucc.edu.gh/">Sandwich</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://www.ucc.edu.gh/">International</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://www.ucc.edu.gh/">Undergraduate</a>
                </li>
                {# <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li> #}
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
              <h4>
                Services
              </h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://portal.ucc.edu.gh/">Portal</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="http://www.atlfmonline.com/">ATL FM</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://alumni.ucc.edu.gh/">Alumni</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://elearning.ucc.edu.gh/">ELearning</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="https://mail.google.com/a/stu.ucc.edu.gh">
                    Student Email
                  </a>
                </li>
              </ul>
            </div>

            {# <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>
                Join Our Newsletter
              </h4>
              <p>
                Tamen quem nulla quae legam multos aute sint culpa legam noster
                magna
              </p>
              <form action="" method="post">
                <input type="email" name="email" />
                <input type="submit" value="Subscribe" />
              </form>
            </div> #}
          </div>
        </div>
      </div>

      <div class="container d-md-flex py-4">
        <div class="mr-md-auto text-center text-md-left">
          <div class="copyright">
            &copy; Copyright <strong>
              <span>Institute of Education.</span>
            </strong> All Rights Reserved
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
            Developed by <a href="#">Management Informations Systems, UCC</a>
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="https://twitter.com/CapeVars" class="twitter">
            <i class="bx bxl-twitter"></i>
          </a>
          <a href="https://www.facebook.com/capevars/" class="facebook">
            <i class="bx bxl-facebook"></i>
          </a>
          <a href="hhttps://www.instagram.com/capevars" class="instagram">
            <i class="bx bxl-instagram"></i>
          </a>
          {# <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> #}
          <a href="https://www.linkedin.com/edu/university-of-cape-coast-12825"
            class="linkedin">
            <i class="bx bxl-linkedin"></i>
          </a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
    <div id="preloader"></div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="staticBackdropLabel">IMPORTANT NOTICE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      {# <b>PART-PAYMENT OF FEES </b><br>
        All students should kindly note that, <b>the deadline for the full payment of fees has been extended to Friday 18th December, 2020.</b> You will not be allowed to take part in the quizzes and end of semester examination if you fail to make full payment by the said date.</p>
       <p><b>NEWLY ADMITTED APPLICANTS</b><br>

        Dear student, you can make a payment of <b>GHc 1,000.00 by 7th December, 2020</b> to access the online teaching and learning platform.  <b>The payment of the remaining amount should be made by Friday 18th December, 2020.</b>  You will not be allowed to take part in the quizzes and end of semester examination if you fail to make payment by the said date.<br><br> #}

       {# <p>These programmes will be run yearly. Therefore new applicants who are qualified may be enrolled on the next cohort in the <b>2021/2022 Academic</b> year and beyond.</p><br>
       <p><b>All applicant who have been admitted are permitted to make a part-payment of GHC 1000.00 of their fees for the UCC 3-Semester B.Ed (Post-Diploma) Sandwich Programmes to enable them register their courses.  FULL payment of the fees should be made by  30th November, 2020 to enable them participate in the face-to-face session, quizzes and examinations at the study centre.</b></p> #}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default text-white" data-dismiss="modal" style="background-color:#1c2473;border-radius:20px;">Understood</button>
        {# <button type="button" class="btn btn-primary">Understood</button> #}
      </div>
    </div>
  </div>
</div>
    <!-- Vendor JS Files -->
    <script src="public/static/vendor/jquery/jquery.min.js"></script>
    <script src="public/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="public/static/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="public/static/vendor/php-email-form/validate.js"></script>
    <script src="public/static/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="public/static/vendor/counterup/counterup.min.js"></script>
    <script src="public/static/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="public/static/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="public/static/js/main.js"></script>
    <script>
      $(function() { $('#datepicker').daterangepicker({ singleDatePicker: true,
      showDropdowns: true, minYear: 2001, locale: { format: 'YYYY-MM-DD', }, //
      maxYear: parseInt(moment().format('YYYY'),70) }); });
    </script>
    <script>
        $(document).ready(function() {
            // checkCookie();
            $('#staticBackdrop').modal();
        });

        $(".alert").delay(10000).slideUp(100, function () {
        $(this).alert('close');
        });

        // fetch for faculties
        {# $('#prog').on('change',function(){
            var progid = $(this).val();
            //alert(progid);
            if(progid){
               $.ajax({
                type: "POST",
                url: 'app/ajax/Ajax',
                data:'progid='+progid,
                    success:function(html){
                        $('#center').html(html);
                    }
                });
                $.ajax({
                type: "POST",
                url: 'app/ajax/Ajax',
                data:'elect='+progid,
                    success:function(html){
                        $('#elect').html(html);
                    }
                });
              }else{
                  $('#college').html('<option value="">Select College</option>'); 
              }
              }); #}

         // fetch for teaching
        $('#teaching').on('change',function(){
            var teaching = $(this).val();
            //alert(teaching);
            if(teaching == 'YES'){
              $('#teach').show();
            }else{  
                $('#teach').hide();
                $('#nos').hide();
            }
         });
           $('#certi').hide();
          $('#cert').on('change',function(){
            var cert = $(this).val();
            //alert(teaching);
            if(cert == 'YES'){
              $('#certi').hide();
            }else{  
                $('#certi').show();
                //$('#nos').hide();
            }
         });

          // fetch for disability
        //$('#nod').hide();
        $('#disable').on('change',function(){
            var disable = $(this).val();
            //alert(disable);
            if(disable == 'Yes'){
              $('#nod').show();
            }else{  
                $('#nod').hide();
                
            }
         });

          // fetch for other college
        $('#oth').hide();
        $('#college').on('change',function(){
            var other = $(this).val();
            //alert(other);
            if(other == ''){
              $('#oth').show();
            }else{  
                $('#oth').hide();
                
            }
         });

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toGMTString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function checkCookie() {
            var ticks = getCookie("modelopen");
            if (ticks != "") {
                ticks++;
                setCookie("modelopen", ticks, 1);
                if (ticks == "2" || ticks == "1" || ticks == "0") {
                    $('#exampleModalCenter').modal();
                }
            } else {
                // user = prompt("Please enter your name:", "");
                $('#exampleModalCenter').modal();
                ticks = 1;
                setCookie("modelopen", ticks, 1);
            }
        }

        function readURL(input) {
          if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
              $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]); // convert to base64 string
          }
        }

        $("#imgInp").change(function() {
          readURL(this);
        });
    </script>
  </body>
</html>
